.app {
  max-height: 100vh;
}

.app > h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  margin: 30px 0;
}

.boxes-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0 auto;
  width: 90%;
  height: 80vh;
}

.boxes-container textarea,
.boxes-container #preview {
  resize: none;
  width: 50%;
  height: 100%;
  font-size: 1em;
  padding: 10px;
}

.boxes-container textarea{
  background-color: #f2f2f2;
}

.boxes-container #preview {
  border: 1px solid white;
  border-radius: 8px;
  padding: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  & pre {
    padding: 5px;
    background-color: rgba(147, 147, 147, 0.664);
  }

  & blockquote {
    margin-left: 2em;

    &::before {
      content: '\201C';
    }

    &::after {
      content: '\201D';
    }
  }

  & table {
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ccc;
      padding: 5px;
      text-align: left;
    }
  }

  & ul,
  & ol {
    padding-left: 15px;
  }

  & ul ul,
  & ol ol,
  & ul ol,
  & ol ul {
    padding-left: 15px;
  }

  & img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  & a {
    color: green;

    &:visited,
    &:focus,
    &:active {
      color: green;
    }
  }
}

@media (max-width: 768px) {

  .boxes-container {
    flex-direction: column;
  }

  .boxes-container textarea,
  .boxes-container #preview {
    width: 100%;
    height: 45%;
  }

  .boxes-container #preview{
    margin-bottom: 30px;

    & pre{
        white-space: pre-wrap;
    }
  }
}
